* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

.active_route {
  background: linear-gradient(
    to right,
    rgba(0, 58, 183, 1),
    rgba(0, 58, 183, 0.1)
  ) !important;
  color: #fff;
  border-radius: 25px;
}
